body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .wrapper {
    position: relative;
  }
  .heading {
    margin: 25px 0;
    font-size: 24px;
  }
  .dashboard-stat {
    position: relative;
    display: block;
    margin: 0 0 25px;
    overflow: hidden;
    border-radius: 4px;
  }
  .dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
  }
  .dashboard-stat .visual > i {
    margin-left: -15px;
    font-size: 110px;
    line-height: 110px;
    color: #fff;
    opacity: 0.1;
  }
  .dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
    color: #fff;
  }
  .dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
  }
  .dashboard-stat .details .number .desc {
    text-transform: capitalize;
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
  }
  .dashboard-stat.blue {
    background-color: #337ab7;
  }
  .dashboard-stat.red {
    background-color: #e7505a;
  }
  .dashboard-stat.purple {
    background-color: #8e44ad;
  }
  .dashboard-stat.hoki {
    background-color: #67809f;
  }


  .historika {
    color: #1DC7EA!important;
  }
  .etnografika {
    color: #FB404B!important;
  }
  .grafika {
    color: #FFA534!important;
  }
  .senirupa {
    color: #9368E9!important;
  }
  .numismatika {
    color: #87CB16!important;
  }
  .biologika {
    color: #1F77D0!important;
  }
  .filologika {
    color: #5e5e5e!important;
  }
  .arkeologika {
    color: #dd4b39!important;
  }
  .keramologika {
    color: #35465c!important;
  }
  .geografika {
    color: #e52d27!important;
  }
  
  
  
  
  