<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a class="dashboard-stat red" href="#">
                <div class="visual">
                  <i class="fa fa-newspaper-o"></i>
                </div>
                <div class="details">
                  <div class="number">
                    <span>{{ berita }}</span>
                  </div>
                  <div class="desc">Total Berita</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a class="dashboard-stat blue" href="#">
                <div class="visual">
                  <i class="fa fa-th"></i>
                </div>
                <div class="details">
                  <div class="number">
                    <span>{{ kolektor }}</span>
                  </div>
                  <div class="desc">Kolektor</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a class="dashboard-stat hoki" href="#">
                <div class="visual">
                  <i class="fa fa-sort-amount-asc"></i>
                </div>
                <div class="details">
                  <div class="number">
                    <span>{{ pewaris }}</span>
                  </div>
                  <div class="desc">Pewaris</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a class="dashboard-stat purple" href="#">
                <div class="visual">
                  <i class="fa fa-university"></i>
                </div>
                <div class="details">
                  <div class="number">
                    <span>{{ organisasi }}</span>
                  </div>
                  <div class="desc">Organisasi</div>
                </div>
              </a>
            </div>
          </div>
        <!-- <button (click)="hitungKoleksi3()">Click Me</button> -->
        <!-- <p>{{ data2 }}</p> -->

          <div class="row">
            <div class="col-md-12">



            </div>
          </div>


        <div class="row">
            <div class="col-md-4">
                <lbd-chart *ngIf ="geografika"
                  [title]="'Statistik Pie Chart'"
                  [subtitle]="'Jumlah koleksi berdasarkan 10 kategori'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="emailChartType"
                  [chartData]="emailChartData"
                  [chartOptions]="emailChartOptions"
                  [legendItems]="emailChartLegendItems">
                </lbd-chart>
            </div>
            <div class="col-md-8">
              <lbd-chart *ngIf="geografika"
                [title]="'Statistik Bar Chart'"
                [subtitle]="'Jumlah koleksi berdasarkan 10 kategori'"
                [chartType]="activityChartType"
                [chartData]="activityChartData">
              </lbd-chart>
          </div>
        </div>

    </div>
</div>
