<div id="documenter_sidebar">
  <a [routerLink]="['/webhome']" id="documenter_logo"></a><br>
  <h1 style="text-align: center;"><b>Museum Prabu Geusan</b></h1>
  <ol id="documenter_nav">
    <!-- <li><a class="current" href="#documenter_cover">Introduction</a></li> -->
    <li><a class="current" href="#features">Home</a></li>
  </ol>
</div>
<div id="documenter_content">

  <!--About Sec-->
  <section class="container-fluid align-center text-left animated sec-pad-top about-sec">
    <div class="row">
      <div class="col-lg-12">
        <h3>Sejarah</h3>
        <p>YPASA / YPS sebagai lembaga yang bertujuan mengurus, memelihara dan mengelola barang Wakaf Kangdjeng “
          Pangeran Aria Soeria Atmadja “ (PASA) Bupati Sumedang 1882 – 1919 . Pada tanggal 7 – 13 Maret 1974 di Sumedang
          diadakan Seminar Sejarah Jawa Barat yang dihadiri oleh para ahli-ahli sejarah Jawa Barat. Pada kesempatan yang
          baik itu Sesepuh YPS dan Wargi Sumedang mengusulkan untuk mengganti nama Museum YPS yang disampaikan pada
          forum Seminar Sejarah Jawa Barat. Dan salah satu hasil dari Seminar Sejarah Jawa Barat tersebut dapat
          diputuskan dan ditetapkan untuk memberi nama Museum YPS, diambil dari nama seorang tokoh yang karismatik yaitu
          Raja terakhir Kerajaan Sumedanglarang yang bernama “Prabu Geusan Ulun”. Maka pada tanggal 13 Maret 1974 Museum
          YPS diberi nama menjadi Museum “Prabu Geusan Ulun – Yayasan Pangeran Sumedang.
        </p>
      </div>
    </div>
  </section>
  <!--/About Sec-->

  <!--Projects Sec-->
  <section class="container-fluid align-center text-left animated sec-pad-top">
    <div class="row">
      <div class="col-lg-12">
        <h3>Koleksi</h3>
        <p>Koleksi berasal dari peninggalan benda-benda bersejarah dan barang-barang pusaka Leluhur Sumedang, sejak
          Raja-raja Kerajaan Sumedang Larang dan Bupati-bupati yang memerintah terdahulu.</p>

      </div>
    </div>
    <div class="project-gal-wrap padding-top-sm">
      <div class="project-gallery row" itemscope itemtype="http://schema.org/ImageGallery">
        <figure class="col-sm-4 margin-btm-xs" itemprop="associatedMedia" itemscope
          itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project1.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/historika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'historika']">
            <figcaption itemprop="caption description">Historika. Lihat >></figcaption>
          </a>

        </figure>
        <figure class="col-sm-4 margin-btm-xs" itemprop="associatedMedia" itemscope
          itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project2.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/etnografika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'etnografika']">
            <figcaption itemprop="caption description">Etnografika. Lihat >></figcaption>
          </a>
        </figure>
        <figure class="col-sm-4 margin-btm-xs" itemprop="associatedMedia" itemscope
          itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project3.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/grafika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'grafika']">
            <figcaption itemprop="caption description">Grafika. Lihat >></figcaption>
          </a>
        </figure>
        <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/senirupa.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'senirupa']">
            <figcaption itemprop="caption description">Seni Rupa. Lihat >>
            </figcaption>
          </a>
        </figure>
        <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/numismatika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'numismatika']">
            <figcaption itemprop="caption description">Numismatika. Lihat >>
            </figcaption>
          </a>
        </figure>
        <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/biologika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'biologika']">
            <figcaption itemprop="caption description">Biologika. Lihat >>
            </figcaption>
          </a>
        </figure>
        <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/filologika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'filologika']">
            <figcaption itemprop="caption description">Filologika. Lihat >>
            </figcaption>
          </a>
        </figure>
        <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/arkeologika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'arkeologika']">
            <figcaption itemprop="caption description">Arkeologika. Lihat >>
            </figcaption>
          </a>
        </figure>
        <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/keramologika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'keramologika']">
            <figcaption itemprop="caption description">Keramologika. Lihat >>
            </figcaption>
          </a>
        </figure>
        <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
          <img class="img-responsive" src="../../../../assets/img/koleksi/geografika.png" itemprop="thumbnail"
            alt="Image description" />

          <!-- </a> -->
          <a [routerLink]="['/webkoleksi', 'geografika']">
            <figcaption itemprop="caption description">Geografika. Lihat >>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
  </section>
  <!--/Projects Sec-->

  <!--Team Sec-->
  <section class="container-fluid align-center text-left animated sec-pad-top team-sec">
    <div class="row">
      <div class="col-lg-12">
        <h3>Berita</h3>
        <div class="row">
          <div class="col-sm-12  col-xs-12 margin-btm-xs">
            <img class="img-responsive" src="../../../../assets/img/koleksi/testes.png" alt="team" />
            <span class="team-per">Napak Tilas, Selayang Pandang, dan Lainnya</span>
            <span class="team-desn">informasi historis</span>
            <p>Dengan memahami pentingnya belajar dari pengalaman sejarah, diharapkan pijakan untuk membangun masa kini
              dan masa depan menjadi terarah.</p>
            <div class="align-center">
              <button type="submit" class="btn btn-default" (click)="goToBerita()">
                <span class="mask"></span>
                Lihat Berita
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Team Sec-->

  <!--Client Sec-->
  <section class="client-sec container-fluid align-center text-left animated sec-pad-top">
    <div class="row">
      <div class="col-lg-12">
        <h3>Partner Kami</h3>
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive" src="../../../../assets/img/partner1.png" alt="client" />
          </div>
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive" src="../../../../assets/img/partner2.png" alt="client" />
          </div>
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive" src="../../../../assets/img/partner3.png" alt="client" />
          </div>
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive" src="../../../../assets/img/partner4.png" alt="client" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Client Sec-->

  <!--form sec-->
  <section data-ng-controller="ContactController" class="container-fluid align-center animated  sec-pad">
    <h3>Hubungi Kami</h3>
    <div class="row">
      <div class="address-detail">
        <div class="col-sm-4 margin-btm-xs">
          <div class="sep-wrap">
            <span class="add-sep"></span>
          </div>
          <span>Kunjungi</span><br>
          <a href="">Jl. Prabu Geusan Ulun No.40B, Sumedang</a>
        </div>
        <div class="col-sm-4 margin-btm-xs">
          <div class="sep-wrap">
            <span class="add-sep"></span>
          </div>
          <span>E-Mail</span><br>
          <a href="mailto:hello@Hencework.com" target="_blank">info@museumprabugeusanulun.org</a>
        </div>

        <div class="col-sm-4 margin-btm-xs">
          <div class="sep-wrap">
            <span class="add-sep"></span>
          </div>
          <span>Kontak</span><br>
          <a href="callto:954788315970" target="_blank">+62 261 201714</a>
        </div>

      </div>
    </div>
  </section>
  <!--/form sec-->

</div>