<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<div class="modal fade" id="addParticipantModal" tabindex="-1" role="dialog" aria-labelledby="addParticipantModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addParticipantModalLabel">Tambah Pewaris</h4>
        <p class="modal-intro">Masukkan nilai yang diperlukan pada form di bawah ini..</p>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          <label for="pewarisId">ID-Pewaris</label>
          <div class="input-group">
            <span class="input-group-addon">P -</span>
            <input formControlName="pewarisId" type="text" class="form-control">
          </div>



          <div class="form-group text-left">
            <label for="namaPertama">Nama Pertama</label>

            <input formControlName="namaPertama" type="text" class="form-control">

          </div>




          <div class="form-group text-left">
            <label for="namaTerakhir">Nama Terakhir</label>

            <input formControlName="namaTerakhir" type="text" class="form-control">

          </div>




          <div class="form-group text-left">
            <label for="keterangan">Keterangan</label>

            <input formControlName="keterangan" type="text" class="form-control">

          </div>




          <div class="form-group text-left">
            <label for="tipe">Tipe (default: pewaris)</label>

            <input formControlName="tipe" type="text" class="form-control" value="Pewaris" placeholder="Pewaris" disabled>

          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
          <button (click)="addParticipant(myForm);" type="submit" class="btn btn-success"
            data-dismiss="modal">Tambah</button>

        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateParticipantModal" tabindex="-1" role="dialog"
  aria-labelledby="updateParticipantModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateParticipantModalLabel">Perbarui Pewaris</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">



          <div class="form-group text-left">
            <label for="pewarisId">ID-Pewaris</label>


            <input [ngModel]="pewarisId" formControlName="pewarisId" class="form-control" disabled="disabled">


          </div>

          <div class="form-group text-left">
            <label for="namaPertama">Nama Pertama</label>


            <input [ngModel]="namaPertama" formControlName="namaPertama" type="text" class="form-control">


          </div>

          <div class="form-group text-left">
            <label for="namaTerakhir">Nama Terakhir</label>


            <input [ngModel]="namaTerakhir" formControlName="namaTerakhir" type="text" class="form-control">


          </div>

          <div class="form-group text-left">
            <label for="keterangan">Keterangan</label>


            <input [ngModel]="keterangan" formControlName="keterangan" type="text" class="form-control">


          </div>

          <div class="form-group text-left">
            <label for="tipe">Tipe</label>


            <input [ngModel]="tipe" formControlName="tipe" type="text" class="form-control" disabled>


          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
          <button (click)="updateParticipant(myForm)" type="submit" class="btn btn-success"
            data-dismiss="modal">Perbarui</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteParticipantModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteParticipantModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteParticipantModalLabel">Delete Participant</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
          Are you sure you want to delete this participant?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button (click)="deleteParticipant()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>






<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <strong>Error:</strong> {{errorMessage}}
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- Page Heading -->
        <div class="typo-line">
          <div class="category">
            <h1 class="pe-7s-user-female"></h1>
          </div>
          <blockquote>
            <p>
              Melihat, menambah dan mengontrol setiap pemegang sumber koleksi yang didapat dari pewaris.
            </p>
            <small>
              Fitur Holder: Pemilik: Pewaris
            </small>
          </blockquote>
        </div>


        <div class="card">
          <div class="header">
            <div class="pull-left">
              <h4 class="title">Daftar Pewaris</h4>
            </div>

            <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#addParticipantModal"  data-backdrop="false">
              <span
                style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
                <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                  <path fill-rule="evenodd"
                    d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z" />
                </svg>
              </span>
              Tambah Pewaris
            </button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id-Pewaris</th>

                  <th>Nama Pertama</th>

                  <th>Nama Terakhir</th>

                  <th>Keterangan</th>

                  <th>Tipe</th>

                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let participant of allParticipants">


                  <td>{{participant.pewarisId}}</td>

                  <td>{{participant.namaPertama}}</td>

                  <td>{{participant.namaTerakhir}}</td>

                  <td>{{participant.keterangan}}</td>

                  <td>{{participant.tipe}}</td>

                  <td>
                    <button (click)="getForm(participant.pewarisId);" type="button" class="btn btn-info"
                      data-toggle="modal" data-target="#updateParticipantModal" data-backdrop="false">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.8px" height="12.8px"
                        viewBox="0 0 30.7 30.7" style="enable-background:new 0 0 30.7 30.7;" xml:space="preserve">
                        <g>
                          <path
                            d="M1.5,30.7c0.1,0,0.2,0,0.4,0l5.9-1.5c0.8-0.2,1.3-1,1.1-1.8c-0.2-0.8-1-1.3-1.8-1.1l-3.6,0.9l0.8-3.8
                     c0.2-0.8-0.4-1.6-1.2-1.8c-0.8-0.2-1.6,0.4-1.8,1.2L0,28.9c-0.1,0.5,0.1,1,0.4,1.4C0.7,30.6,1.1,30.7,1.5,30.7z" />
                          <path d="M10.4,25.2c0.3,0.3,0.7,0.4,1.1,0.4c0.4,0,0.8-0.1,1.1-0.4L30.3,7.5c0.6-0.6,0.6-1.5,0-2.1l-4.9-4.9
                     C25.1,0.2,24.7,0,24.3,0c-0.4,0-0.8,0.2-1.1,0.4L5.5,18.2c-0.3,0.3-0.4,0.7-0.4,1.1s0.2,0.8,0.4,1.1L10.4,25.2z M24.3,3.6l2.8,2.8
                     L11.5,22l-2.8-2.8L24.3,3.6z" />
                        </g>
                      </svg>
                    </button>

                     <!--Dinonaktifkan fungsi delete blockchain-->
                    <!-- <button (click)="setId(participant.pewarisId);" type="button" class="btn btn-delete"
                      data-toggle="modal" data-target="#deleteParticipantModal" data-backdrop="false">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13.8px" height="16px"
                        viewBox="0 0 65.9 76.2" style="enable-background:new 0 0 65.9 76.2;" xml:space="preserve">
                        <path d="M42.8,60.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S42.8,61.9,42.8,60.2z M29.1,60.2V22.6c0-1.7-1.3-3-3-3
                   s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S29.1,61.9,29.1,60.2z M56.2,19.6c-1.7,0-3,1.3-3,3V68c0,1.2-1,2.2-2.2,2.2H14.9
                   c-1.2,0-2.2-1-2.2-2.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3V68c0,4.5,3.7,8.2,8.2,8.2H51c4.5,0,8.2-3.7,8.2-8.2V22.6
                   C59.2,21,57.9,19.6,56.2,19.6z M62.9,10.3H49.3V3c0-1.7-1.3-3-3-3H19.6c-1.7,0-3,1.3-3,3v7.3H3c-1.7,0-3,1.3-3,3s1.3,3,3,3h59.9
                   c1.7,0,3-1.3,3-3S64.5,10.3,62.9,10.3z M43.3,10.3H22.6V6h20.7L43.3,10.3L43.3,10.3z" />
                      </svg>
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>