<body data-ng-app="contactApp">
		
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
	
	<div class="content-loader">
		<ul class="loader">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!--Container-->
	<div class="pad-zero">
		
		<!--Splitlayout -->
		<div id="splitlayout" class="splitlayout reset-layout">
			
			<!--Intro-->
			<div class="intro">
				<!--Right Content Intro-->
				<div class="side side-right">
					<!--Fogg-->
					<div class="layer clouds">
						<div class="cloud cloud-1">
							<img src="../../../../assets/img/user/cloud-1.png" width="1600" height="850" alt="cloud">
						</div>
						
						<div class="cloud cloud-2">
							<img src="../../../../assets/img/user/cloud-2.png" width="1600" height="850" alt="cloud">
						</div>
						
						<div class="cloud cloud-3">
							<img src="../../../../assets/img/user/cloud-1.png" width="1600" height="850" alt="cloud">
						</div>
					</div>
					<!--/Fogg-->
					
					<!--Right Nav-->
					<div class="call-to-action contact">
						<div>
							<span class="goto-next">
								<button>Info Lanjut</button>
								<span class="add-sep"></span>
							</span>
						</div>	
					</div>
					<!--/Right Nav-->
					
					<div class="main-content sec-pad">
						<!--Logo-->
						<!-- <header class="logo">
							<img src="../../../../assets/img/logo.png" alt="logo">
						</header> -->
						<!--/Logo-->
						
						<div class="table-wrap">
							<div class="tablecell align-middle">
								
								<!--main content-->
								<section class="intro-text">
									<!--Ticker-->
									<div class="tlt">
										<ul  class="texts">
											<li data-in-effect="bounce" data-out-effect="hinge" data-in-shuffle="true" data-out-shuffle="true">
												Koleksi Pusaka																																																		
											</li>
										</ul>
									</div>
									<!--/Ticker-->
									
									<p class="col-md-9 col-xs-12 pad-zero">Berdirinya Museum Prabu Geusan Ulun berawal dari terbentuknya “ Yayasan Pangeran Aria Suria Atmadja (YPASA) pada tahun 1950 dengan Akte Notaris Mr. Soedja No. 59 / 28 April 1950, kemudian berubah menjadi Yayasan Pangeran Sumedang “ (YPS) dengan Akte Notaris Tan Eng Kiam No. 98 / 21 April 1955.</p>
									<div class="clearfix"></div>
<!-- 									
										<div>
											<span class="goto-next">
												<button>Info Lanjut</button>
												<span class="add-sep"></span>
											</span>
										</div>	
								 -->
									<div class="clearfix"></div>
									
								</section>
								<!--/main content-->
							</div>
						</div>
							
						<div class="container-fluid pad-zero social-wrpper">
														
							<!--Footer-->
							<footer class="copyright-text">
								
								<!--Social Icons-->
								<ul class="social-icons animated">
									<li>
										<a href="https://id.wikipedia.org/wiki/Museum_Prabu_Geusan_Ulun" class="social-icon">
											<span class="fa" data-hover="&#xf266;">&#xf266;</span>
										</a>
									</li>
								</ul>
								<!--/Social Icons-->
								
								<p>Museum Prabu Geusan Ulun © 2020</p>
								
							</footer>
							<!--/Footer-->
							
						</div>	
						
					</div>
					
					<!--left overlay-->
					<div class="side-right-overlay"></div>
					<!--/left overlay-->
					
				</div>
				<!--/Right Content Intro-->
				
				<!--Left Content Intro-->
				<div class="okey">
					<div class="side side-left">
						<div class="main-content sec-pad">
							<div class="table-wrap">
								<div class="tablecell align-middle">
									<section class="timer-sec">
										<!--Clock wrap-->
										<div class="clock-wrap">
											<svg 
												 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="81px" height="81px"
												 viewBox="0 0 81 81" enable-background="new 0 0 81 81" xml:space="preserve">
											<switch>
												<g>
													<circle fill="none" stroke="#000" stroke-miterlimit="10" cx="40.5" cy="40.5" r="40"/>
													<circle fill="#000" cx="40.5" cy="40.5" r="2.806"/>
													<line id="min" fill="none" stroke="#000" stroke-width="2" stroke-miterlimit="10" x1="40.5" y1="10.5" x2="40.5" y2="40.5"/>
													<line id="hour" fill="none" stroke="#000" stroke-width="1.5" stroke-miterlimit="10" x1="40.5" y1="20.5" x2="40.5" y2="40.5"/>
													<line id="sec" fill="none" stroke="#000" stroke-miterlimit="10" x1="40.5" y1="7.5" x2="40.5" y2="40.5"/>
												</g>
											</switch>
											</svg>
										</div>
										<!--/Clock wrap-->
									</section>
									<!--main content-->
									<section class="intro-text">
										<div class="ani-wrap">
											<!--Counter-->
											<h5>
												<span class="jam">
												  08.00-16.00
												</span>
												<span>Selasa-Kamis</span>
											</h5>	
									
											<!--Counter-->
										</div>
										<h2>Museum Prabu Geusan Ulun</h2>	
										<div class="clearfix"></div>
									</section>
									<!--/main content-->
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!--/Left Content Intro-->
			</div>
			<!--/Intro-->
			
			<!--Right Section-->
			<div class="page page-right">
				<div  class="page-inner full-height">
					<div class="close-btn">
						<span>X</span>
					</div>
					<!--About Sec-->
					<section class="container-fluid align-center text-left animated sec-pad-top about-sec">
						<div class="row">
							<div class="col-lg-12">
								<h3>Sejarah</h3>
								<p>YPASA / YPS sebagai lembaga yang bertujuan mengurus, memelihara dan mengelola barang Wakaf Kangdjeng “ Pangeran Aria Soeria Atmadja “ (PASA) Bupati Sumedang 1882 – 1919 . Pada tanggal 7 – 13 Maret 1974 di Sumedang diadakan Seminar Sejarah Jawa Barat yang dihadiri oleh para ahli-ahli sejarah Jawa Barat. Pada kesempatan yang baik itu Sesepuh YPS dan Wargi Sumedang mengusulkan untuk mengganti nama Museum YPS yang disampaikan pada forum Seminar Sejarah Jawa Barat. Dan salah satu hasil dari Seminar Sejarah Jawa Barat tersebut dapat diputuskan dan ditetapkan untuk memberi nama Museum YPS, diambil dari nama seorang tokoh yang karismatik yaitu Raja terakhir Kerajaan Sumedanglarang yang bernama “Prabu Geusan Ulun”. Maka pada tanggal 13 Maret 1974 Museum YPS diberi nama menjadi Museum “Prabu Geusan Ulun – Yayasan Pangeran Sumedang.
								</p>
							</div>	
						</div>
					</section>
					<!--/About Sec-->
				
					<!--Projects Sec-->
					<section class="container-fluid align-center text-left animated sec-pad-top">
						<div class="row">
							<div class="col-lg-12">
								<h3>Koleksi</h3>
								<p>Koleksi berasal dari peninggalan benda-benda bersejarah dan barang-barang pusaka Leluhur Sumedang, sejak Raja-raja Kerajaan Sumedang Larang dan Bupati-bupati yang memerintah terdahulu.</p>
								
							</div>	
						</div>
						<div class="project-gal-wrap padding-top-sm">
							 <div class="project-gallery row" itemscope itemtype="http://schema.org/ImageGallery">
								<figure class="col-sm-4 margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
								  <!-- <a href="img/project1.jpg" itemprop="contentUrl" data-size="730x490"> -->
									  <img class="img-responsive" src="../../../../assets/img/koleksi/historika.png" itemprop="thumbnail" alt="Image description" />
								
								  <!-- </a> -->
								  <a [routerLink]="['/webkoleksi', 'historika']">
									<figcaption itemprop="caption description">Historika. Lihat >></figcaption>
									</a>

								</figure>
								<figure class="col-sm-4 margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
								  <!-- <a href="img/project2.jpg" itemprop="contentUrl" data-size="730x490"> -->
									  <img class="img-responsive" src="../../../../assets/img/koleksi/etnografika.png" itemprop="thumbnail" alt="Image description" />
									 
								  <!-- </a> -->
								  <a [routerLink]="['/webkoleksi', 'etnografika']">
									<figcaption itemprop="caption description">Etnografika. Lihat >></figcaption>
								  </a>
								</figure>
								<figure class="col-sm-4 margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
								  <!-- <a href="img/project3.jpg" itemprop="contentUrl" data-size="730x490"> -->
									  <img class="img-responsive" src="../../../../assets/img/koleksi/grafika.png" itemprop="thumbnail" alt="Image description" />
									 
								  <!-- </a> -->
								  <a [routerLink]="['/webkoleksi', 'grafika']">
									<figcaption itemprop="caption description">Grafika. Lihat >></figcaption>
									</a>
								</figure>
								<figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
								  <!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
									  <img class="img-responsive" src="../../../../assets/img/koleksi/senirupa.png" itemprop="thumbnail" alt="Image description" />
									 
								  <!-- </a> -->
									<a [routerLink]="['/webkoleksi', 'senirupa']">
									<figcaption itemprop="caption description">Seni Rupa. Lihat >>
									</figcaption></a>
								</figure>
								<figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									<!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
										<img class="img-responsive" src="../../../../assets/img/koleksi/numismatika.png" itemprop="thumbnail" alt="Image description" />
									
									<!-- </a> -->
									<a [routerLink]="['/webkoleksi', 'numismatika']">
									  <figcaption itemprop="caption description">Numismatika. Lihat >>
									  </figcaption></a>
								  </figure>
								  <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									<!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
										<img class="img-responsive" src="../../../../assets/img/koleksi/biologika.png" itemprop="thumbnail" alt="Image description" />
									
									<!-- </a> -->
									<a [routerLink]="['/webkoleksi', 'biologika']">
									  <figcaption itemprop="caption description">Biologika. Lihat >>
									  </figcaption></a>
								  </figure>
								  <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									<!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
										<img class="img-responsive" src="../../../../assets/img/koleksi/filologika.png" itemprop="thumbnail" alt="Image description" />
								
									<!-- </a> -->
									<a [routerLink]="['/webkoleksi', 'filologika']">
									  <figcaption itemprop="caption description">Filologika. Lihat >>
									  </figcaption></a>
								  </figure>
								  <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									<!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
										<img class="img-responsive" src="../../../../assets/img/koleksi/arkeologika.png" itemprop="thumbnail" alt="Image description" />
									
									<!-- </a> -->
									<a [routerLink]="['/webkoleksi', 'arkeologika']">
									  <figcaption itemprop="caption description">Arkeologika. Lihat >>
									  </figcaption></a>
								  </figure>
								  <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									<!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
										<img class="img-responsive" src="../../../../assets/img/koleksi/keramologika.png" itemprop="thumbnail" alt="Image description" />
							
									<!-- </a> -->
									<a [routerLink]="['/webkoleksi', 'keramologika']">
									  <figcaption itemprop="caption description">Keramologika. Lihat >>
									  </figcaption></a>
								  </figure>
								  <figure class="col-sm-4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									<!-- <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490"> -->
										<img class="img-responsive" src="../../../../assets/img/koleksi/geografika.png" itemprop="thumbnail" alt="Image description" />
							
									<!-- </a> -->
									<a [routerLink]="['/webkoleksi', 'geografika']">
									  <figcaption itemprop="caption description">Geografika. Lihat >>
									  </figcaption></a>
								  </figure>
							</div>
						</div>
					</section>
					<!--/Projects Sec-->
					
					<!--Team Sec-->
					<section class="container-fluid align-center text-left animated sec-pad-top team-sec">
						<div class="row">
							<div class="col-lg-12">
								<h3>Berita</h3>
								<div class="row">
									<div class="col-sm-12  col-xs-12 margin-btm-xs">
										<img class="img-responsive" src="../../../../assets/img/koleksi/testes.png" alt="team"/>
										<span class="team-per">Napak Tilas, Selayang Pandang, dan Lainnya</span>
										<span class="team-desn">informasi historis</span>
										<p>Dengan memahami pentingnya belajar dari pengalaman sejarah, diharapkan pijakan untuk membangun masa kini dan masa depan menjadi terarah.</p>
										<div class="align-center">
											<button type="submit" class="btn btn-default" (click)="goToBerita()">
											<span class="mask"></span>
											Lihat Berita
											</button>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</section>
					<!--/Team Sec-->
					
					<!--Client Sec-->
					<section class="client-sec container-fluid align-center text-left animated sec-pad-top">
						<div class="row">
							<div class="col-lg-12">
								<h3>Partner Kami</h3>
								<div class="row">
									<div class="col-sm-3 col-xs-6">
										<img class="img-responsive" src="../../../../assets/img/partner1.png" alt="client"/>
									</div>
									<div class="col-sm-3 col-xs-6">
										<img class="img-responsive" src="../../../../assets/img/partner2.png" alt="client"/>
									</div>
									<div class="col-sm-3 col-xs-6">
										<img class="img-responsive" src="../../../../assets/img/partner3.png" alt="client"/>
									</div>
									<div class="col-sm-3 col-xs-6">
										<img class="img-responsive" src="../../../../assets/img/partner4.png" alt="client"/>
									</div>
								</div>
							</div>
						</div>	
					</section>
					<!--/Client Sec-->
					
					<!--form sec-->
					<section data-ng-controller="ContactController" class="container-fluid align-center animated  sec-pad">
						<h3>Hubungi Kami</h3>
						<div class="row">
							<div class="address-detail">
								<div class="col-sm-4 margin-btm-xs">
									<div class="sep-wrap">
										<span class="add-sep"></span>
									</div>	
									<span>Kunjungi</span>
									<p>Jl. Prabu Geusan Ulun No.40B, Sumedang</p>
								</div>	
								<div class="col-sm-4 margin-btm-xs">
									<div class="sep-wrap">
										<span class="add-sep"></span>
									</div>	
									<span>E-Mail</span>
									<a href="mailto:hello@Hencework.com" target="_blank">info@museumprabugeusanulun.org</a>
								</div>
								
								<div class="col-sm-4 margin-btm-xs">
									<div class="sep-wrap">
										<span class="add-sep"></span>
									</div>	
									<span>Kontak</span>
									<a href="callto:954788315970" target="_blank">+62 261 201714</a>
								</div>
							
							</div>
						</div>	
					</section>	
					<!--/form sec-->
					
					<!--google map-->
					<!-- <section class="map-sec">
						<div id="map_canvas"></div>
					</section> -->
					<!--/google map-->
					
				</div>
			</div>
			<!--/Right Section-->
			
		</div>
		<!-- /Splitlayout -->
	
	</div>
	<!-- /Container -->
	
	<!--PhotoSwipe Popup-->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">

			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--share" title="Share"></button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
						  <div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						  </div>
						</div>
					</div>
				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div> 
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>

			  </div>

		</div>
	</div>
	<!--/PhotoSwipe Popup-->

	
</body>