@charset "UTF-8";
/*------------------------------------------------------------------
[Master Stylesheet]
Project:	Popeye
++++ Imports ++++
++++ Reset ++++
++++ Main ++++
++++ Mediaqueries ++++
-------------------------------------------------------------------*/
/****************************/
/** Imports **/
/****************************/
@import url(./css/jquery.countdown.css);
@import url(./css/animate.css);
@import url(./css/component2.css);
@import url(./css/font-awesome.min.css);
@import url(./css/et-line-font.css);
@import url(./css/inputtext.css);
@import url(./css/photoswipe.css);
@import url(./css/default-skin/default-skin.css);
/****************************/
/** Reset **/
/****************************/
html, body, div, span, applet, object, iframe, h1, .side-right .tlt, h2, h3, h4, h5, h6, p, .address-detail a, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

strong {
  font-weight: bold; }

body {
  color: #fff;
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  overflow-y: auto; }

.jam {
  color: #b15cff;
}

button{
  color: #fb4700;
}

/* Mozilla based browsers */
::-moz-selection {
  background: #f8ec2e;
  color: #000; }

/* Works in Safari */
::selection {
  background: #f8ec2e;
  color: #000; }

#ascrail2000 {
  z-index: 999 !important; }

a:hover, a:active {
  outline: 0; }

button:focus {
  border: none;
  outline: 0; }

ul {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: none; }

a:focus {
  color: #000;
  text-decoration: none;
  outline: none; }

h1, .side-right .tlt, h2, h3, h4, h5, h6 {
  color: #fff; }

h1, .side-right .tlt {
  font-size: 120px;
  line-height: 150px;
  font-weight: 700;
  margin-bottom: 15px; }

h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  color: #000; }

h3 {
  font-size: 24px;
  line-height: 35px;
  padding-bottom: 32px;
  color: #000; }

h5 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 18px;
  margin-top: 18px;
  font-weight: 500;
  color: #000; }

p, .address-detail a {
  font-size: 15px;
  font-family: "Hind", sans-serif;
  color: #8d8d8d;
  line-height: 25px; }

.force-UTF-8 {
  content: "¡"; }

/****************************/
/** Main **/
/****************************/
.pad-zero {
  padding: 0; }

.pad-left-zero {
  padding-left: 0; }

.pad-right-zero {
  padding-left: 0; }

.pad-top-zero {
  padding-top: 0; }

.pad-bottom-zero {
  padding-bottom: 0; }

.sec-pad {
  padding-top: 100px;
  padding-bottom: 100px; }

.sec-pad-sm {
  padding-top: 50px;
  padding-bottom: 50px; }

.sec-pad-xs {
  padding-top: 30px;
  padding-bottom: 30px; }

.sec-pad-top {
  padding-top: 100px; }

.sec-pad-top-sm {
  padding-top: 50px; }

.sec-pad-top-xs {
  padding-top: 30px; }

.sec-pad-bottom {
  padding-bottom: 100px; }

.sec-pad-bottom-sm {
  padding-bottom: 50px; }

.sec-pad-bottom-xs {
  padding-bottom: 30px; }

.sec-pad-left {
  padding-left: 100px; }

.sec-pad-right {
  padding-right: 100px; }

.padding-top-sm {
  padding-top: 60px; }

.margin-btm-lg {
  margin-bottom: 47px; }

.margin-top-xs-20 {
  margin-top: 20px; }

.opacity-hide {
  opacity: 0;
  visibility: hidden; }

.table-wrap {
  display: table;
  height: 100%;
  width: 100%; }

.tablecell {
  display: table-cell; }

.align-middle {
  vertical-align: middle; }

.preloader-it {
  background: #fff;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  overflow: hidden !important; }

.content-loader {
  background: #b15cff none repeat scroll 0 0;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 70%;
  z-index: 201;
  display: none;
  right: 0;
  top: 0; }

.loader {
  width: 50px;
  height: 50px;
  list-style: none;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }



/* Effect 1: YouTube loading */
.la-anim-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 5px;
  background: #b15cff;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  pointer-events: none; }

.la-anim-1::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: #b15cff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.2s, box-shadow 2s 4s;
  transition: opacity 0.2s, box-shadow 2s 4s;
  -webkit-transform: rotate(2deg) translateY(-2px);
  transform: rotate(2deg) translateY(-2px); }

.la-anim-1.la-animate {
  z-index: 100;
  opacity: 1;
  -webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
  transition: transform 5s ease-in, opacity 1s 5s;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.la-anim-1.la-animate::after {
  opacity: 1; }

.main-content {
  height: 100%;
  padding-left: 100px;
  padding-right: 100px; }

@keyframes moveclouds {
  0% {
    margin-left: 100%; }
  100% {
    margin-left: -100%; } }
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100%; }
  100% {
    margin-left: -100%; } }
@keyframes moveclouds2 {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: 100%; }
  100% {
    margin-left: -100%; } }
@-webkit-keyframes moveclouds2 {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: 100%; }
  100% {
    margin-left: -100%; } }
.layer {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }
  .layer img {
    max-width: 100%;
    height: 100%; }

.clouds {
  overflow: hidden; }
  .clouds .cloud {
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
    will-change: transform; }
  .clouds .cloud-1 {
    -webkit-animation: moveclouds 25s linear infinite;
    animation: moveclouds 25s linear infinite; }
  .clouds .cloud-2 {
    -webkit-animation: moveclouds 50s linear infinite;
    animation: moveclouds 50s linear infinite; }
  .clouds .cloud-3 {
    -webkit-animation: moveclouds2 35s linear infinite;
    animation: moveclouds2 35s linear infinite; }

.side-right-overlay {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0; }

.side-left-overlay {
  left: 0; }

.side-right-overlay {
  right: 0; }
  

.side-left {
  text-align: center;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('../../../../assets/img/wayang-kuning.png');
  /* background-color: #d5d458; */
   }
  .side-left p, .side-left .address-detail a, .address-detail .side-left a {
    color: #d5d458; }
  .side-left .small-hr {
    margin-top: 17px;
    margin-bottom: 25px; }
  .side-left .tag-wrap {
    position: absolute;
    bottom: 97px; }
  .side-left footer {
    float: left; }
  .side-left #countdown .days-wrap {
    color: #b15cff; }
  .side-left .content-wrap {
    height: 100%;
    padding-left: 100px;
    padding-right: 100px; }

    .side-left::before{
      background-color: rgba(218, 218, 218, 0.137);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
.preloader {
  background: #fff; }

p.tagline, .address-detail a.tagline {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -1px; }

.social-icons {
  float: left;
  margin-right: 22px; }
  .social-icons li {
    display: inline-block;
    float: left;
    margin-right: 20px; }
    .social-icons li:last-child {
      margin-right: 0; }
  .social-icons .social-icon {
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 25px;
    position: relative;
    display: inline-block; }
    .social-icons .social-icon span {
      display: inline-block;
      position: relative;
      -moz-transition: transform 0.3s ease 0s;
      -o-transition: transform 0.3s ease 0s;
      -webkit-transition: transform 0.3s ease 0s;
      transition: transform 0.3s ease 0s; }
      .social-icons .social-icon span.fa {
        line-height: 25px; }
      .social-icons .social-icon span:before {
        content: attr(data-hover);
        position: absolute;
        top: 100%;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px); }
    .social-icons .social-icon:hover span {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%); }
    .social-icons .social-icon:hover i.fa-facebook {
      color: #3B5998; }
    .social-icons .social-icon:hover i.fa-twitter {
      color: #00aced; }
    .social-icons .social-icon:hover i.fa-linkedin {
      color: #007bb6; }
    .social-icons .social-icon:hover i.fa-behance {
      color: #1769ff; }

.side-right {
  /* background: url("../img/mainbg.jpg"); */
  background: url('../../../../assets/img/sumedang-min.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  right: 0; }
  .side-right p, .side-right .address-detail a, .address-detail .side-right a {
    color: #fff; }
  .side-right .social-wrpper {
    bottom: 92px;
    left: 100px;
    position: absolute;
    width: 100%; }
  .side-right .copyright-text p, .side-right .copyright-text .address-detail a, .address-detail .side-right .copyright-text a {
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    float: left; }

.form-control.notify-input-box::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1; }
.form-control.notify-input-box:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1; }
.form-control.notify-input-box::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1; }
.form-control.notify-input-box:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1; }

.align-center, .address-detail {
  overflow: hidden;
  clear: both;
  float: none;
  margin: 0 auto; }

.logo {
  position: absolute;
  left: 100px;
  top: 100px; }

.pswp__bg {
  background: rgba(0, 0, 0, 0.95) none repeat scroll 0 0; }

.pswp__caption {
  bottom: 130px; }

.pswp__caption__center {
  color: #fff;
  font-size: 15px;
  font-family: "Hind", sans-serif;
  text-align: center;
  text-transform: capitalize; }

.page .close-btn {
  color: #000;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  right: 40px;
  top: 25px;
  z-index: 1; }

.page-left .page-inner .container-fluid,
.page-right .page-inner .container-fluid {
  padding-left: 100px;
  padding-right: 100px; }
.page-left .page-inner .project-gal-wrap img,
.page-right .page-inner .project-gal-wrap img {
  width: 100%; }
.page-left .page-inner .panel-body,
.page-right .page-inner .panel-body {
  padding-top: 0; }
.page-left .page-inner .client-sec .col-sm-3,
.page-right .page-inner .client-sec .col-sm-3 {
  text-align: center; }
  .page-left .page-inner .client-sec .col-sm-3 img,
  .page-right .page-inner .client-sec .col-sm-3 img {
    display: inline-block; }
.page-left .page-inner .about-sec .about-icon-wrap span,
.page-right .page-inner .about-sec .about-icon-wrap span {
  display: block; }
  .page-left .page-inner .about-sec .about-icon-wrap span.key-fact,
  .page-right .page-inner .about-sec .about-icon-wrap span.key-fact {
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 14px;
    margin-top: 25px; }
.page-left .page-inner .about-sec .about-icon-wrap .icon,
.page-right .page-inner .about-sec .about-icon-wrap .icon {
  color: #b15cff;
  font-size: 48px; }
.page-left .page-inner .team-sec span,
.page-right .page-inner .team-sec span {
  display: block; }
.page-left .page-inner .team-sec .team-per,
.page-right .page-inner .team-sec .team-per {
  font-size: 13px;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-top: 20px; }
.page-left .page-inner .team-sec .team-desn,
.page-right .page-inner .team-sec .team-desn {
  font-size: 12px;
  color: #8d8d8d;
  text-transform: capitalize;
  margin-bottom: 17px; }
.page-left .page-inner .team-sec .team-social,
.page-right .page-inner .team-sec .team-social {
  float: left; }
  .page-left .page-inner .team-sec .team-social li,
  .page-right .page-inner .team-sec .team-social li {
    margin-right: 12px;
    float: left; }
    .page-left .page-inner .team-sec .team-social li a i,
    .page-right .page-inner .team-sec .team-social li a i {
      color: #000;
      font-size: 12px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .page-left .page-inner .team-sec .team-social li a:hover i,
    .page-right .page-inner .team-sec .team-social li a:hover i {
      color: #8d8d8d; }
.page-left .page-inner .pswp__caption__center,
.page-right .page-inner .pswp__caption__center {
  display: none; }
.page-left .page-inner figure,
.page-right .page-inner figure {
  margin-bottom: 47px; padding: 10px; }
  .page-left .page-inner figure figcaption,
  .page-right .page-inner figure figcaption {
    font-family: "Hind", sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #8d8d8d;
    padding: 20px 0 0 0; }
  .page-left .page-inner figure a,
  .page-right .page-inner figure a {
    display: block;
    overflow: hidden;
    position: relative; }
    .page-left .page-inner figure a .hover,
    .page-right .page-inner figure a .hover {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .page-left .page-inner figure a .hover span,
      .page-right .page-inner figure a .hover span {
        display: block;
        left: 0;
        color: #fff;
        position: absolute;
        right: 0;
        text-align: center;
        top: calc(50% - 11px); }
    .page-left .page-inner figure a:hover .hover,
    .page-right .page-inner figure a:hover .hover {
      opacity: 1; }
.page-left .page-inner .trans-overlay-dark-contact,
.page-right .page-inner .trans-overlay-dark-contact {
  background: #fff;
  /* The Fallback */
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1; }
.page-left .page-inner .form-control::-webkit-input-placeholder,
.page-right .page-inner .form-control::-webkit-input-placeholder {
  color: #8d8d8d;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  text-transform: capitalize; }
.page-left .page-inner .form-control:-moz-placeholder,
.page-right .page-inner .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8d8d8d;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  text-transform: capitalize; }
.page-left .page-inner .form-control::-moz-placeholder,
.page-right .page-inner .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8d8d8d;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  text-transform: capitalize; }
.page-left .page-inner .form-control:-ms-input-placeholder,
.page-right .page-inner .form-control:-ms-input-placeholder {
  color: #8d8d8d;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  text-transform: capitalize; }
.page-left .page-inner .form-control input:-webkit-autofill, .page-left .page-inner .form-control textarea:-webkit-autofill, .page-left .page-inner .form-control select:-webkit-autofill,
.page-right .page-inner .form-control input:-webkit-autofill,
.page-right .page-inner .form-control textarea:-webkit-autofill,
.page-right .page-inner .form-control select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  color: #fff; }

.detail-info {
  position: relative;
  z-index: 2;
  text-align: left; }

.nav-btn, .about, .contact {
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  z-index: 11;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.back-left, .back-left:focus, .back-left:hover {
  left: 45px;
  color: #fff; }

.back-right, .back-right:focus, .back-right:hover {
  color: #000;
  right: 45px; }

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
  outline: none;
  border: 2px solid; }

.ani-wrap {
  position: relative;
  overflow: hidden; }

@keyframes moveUp {
  50% {
    transform: translate(0px, -100%);
    -webkit-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%); }
  51% {
    opacity: 0;
    transform: translate(0px, -100%);
    -webkit-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%); }
  52% {
    opacity: 1;
    transform: translate(0px, 100%);
    -webkit-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%); }
  100% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px); } }
@-webkit-keyframes moveUp {
  50% {
    transform: translate(0px, -100%);
    -webkit-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%); }
  51% {
    opacity: 0;
    transform: translate(0px, -100%);
    -webkit-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%); }
  52% {
    opacity: 1;
    transform: translate(0px, 100%);
    -webkit-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%); }
  100% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px); } }
.btn {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  border-color: #fff;
  border: 2px solid;
  border-radius: 0;
  height: 57px;
  background: transparent;
  -moz-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -webkit-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s; }
  .btn:hover, .btn:focus, .btn:active {
    background: transparent;
    color: #fff;
    border-color: #fff;
    border: 2px solid #fff;
    outline: none; }
  .btn .button-label {
    padding: 10px 20px; }
  .btn span {
    display: inline-block; }
  .btn .mask {
    background: #000 none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
    -moz-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s; }
  .btn:hover .mask {
    width: 100%; }

.black {
  color: #fff; }

.close-notify {
  display: block;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 22px;
  width: 41px; }
  .close-notify:hover, .close-notify:focus, .close-notify:active {
    color: #fff; }

.notify-cmpt.notify-form-type-2 .notify-btn {
  bottom: 0;
  left: 0;
  position: relative; }
.notify-cmpt.notify-form-type-2 .notify-wrap #message {
  position: absolute;
  font-family: "Hind", sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 0;
  padding-top: 10px;
  min-height: 35px;
  color: #fff; }
.notify-cmpt.notify-form-type-2 .notify-wrap #notify_close {
  cursor: pointer;
  float: left;
  height: 57px;
  margin-right: 15px;
  padding-top: 19px;
  text-align: center;
  width: 25px; }
  .notify-cmpt.notify-form-type-2 .notify-wrap #notify_close span {
    color: #fff; }
.notify-cmpt.notify-form-type-2 .notify-wrap .btn {
  border: 2px solid #fff;
  border-left: none;
  right: 0;
  top: 0;
  float: left;
  height: 57px;
  display: block;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  padding: 0 30px !important; }
  .notify-cmpt.notify-form-type-2 .notify-wrap .btn .mask {
    background: #fff; }
  .notify-cmpt.notify-form-type-2 .notify-wrap .btn:hover {
    color: #000; }
.notify-cmpt.notify-form-type-2 .notify-wrap .notify-input-box {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: none;
  width: 247px;
  float: left;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  min-height: 57px;
  padding-left: 13px;
  padding-right: 43px; }
  .notify-cmpt.notify-form-type-2 .notify-wrap .notify-input-box:hover, .notify-cmpt.notify-form-type-2 .notify-wrap .notify-input-box:focus, .notify-cmpt.notify-form-type-2 .notify-wrap .notify-input-box:active {
    box-shadow: none; }
.notify-cmpt.notify-form-type-2 .notify-wrap .input__label--hoshi::before,
.notify-cmpt.notify-form-type-2 .notify-wrap .input__label--hoshi::after {
  border-bottom: 4px solid #fff; }
.notify-cmpt.notify-form-type-2 .notify-wrap .input__label--hoshi::after {
  border-bottom: 8px solid #fff; }

.section-title {
  padding-top: 11%;
  padding-bottom: 18px; }

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0; }

.input-wrap {
  position: relative;
  overflow: hidden; }
  .input-wrap i {
    display: none; }

.page-right input {
  height: 80px; }
.page-right .map-sec {
  overflow: hidden;
  position: relative;
  height: 400px; }
  .page-right .map-sec #map_canvas {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }
  .page-right .map-sec a {
    color: #8d8d8d;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: underline;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out; }
    .page-right .map-sec a:hover {
      color: #fff; }
.page-right .bg-danger, .page-right .bg-success {
  background-color: transparent;
  position: absolute; }
.page-right .form-control {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border: none;
  box-shadow: none;
  color: #000;
  display: block;
  overflow: hidden;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  padding-left: 0;
  padding-bottom: 18px;
  padding-top: 13px; }
  .page-right .form-control:focus {
    border-color: #fff; }
.page-right .form-group {
  margin-bottom: 36px; }
.page-right .icon {
  padding-left: 0; }
  .page-right .icon i {
    font-size: 15px; }
.page-right .btn {
  margin-top: 18px;
  padding: 6px 55px;
  border-color: #000;
  color: #000; }
  .page-right .btn:hover, .page-right .btn:active, .page-right .btn:focus {
    border-color: #000;
    color: #fff; }

@-webkit-keyframes sep-anim {
  0% {
    width: 0; }
  100% {
    width: 20px; } }
@keyframes sep-anim {
  0% {
    width: 0; }
  100% {
    width: 20px; } }
.address-detail {
  margin-top: 60px;
  text-align: left; }
  .address-detail .col-sm-4:hover .add-sep {
    -webkit-animation-name: sep-anim;
    animation-name: sep-anim;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    animation-delay: 0;
    -webkit-animation-delay: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  .address-detail .col-sm-4 span {
    font-size: 13px;
    color: #8d8d8d;
    text-transform: capitalize; }
  .address-detail .sep-wrap {
    width: 20px;
    margin-bottom: 12px; }
    .address-detail .sep-wrap .add-sep {
      background: #000 none repeat scroll 0 0;
      display: block;
      height: 2px;
      text-align: center;
      width: 20px; }
  .address-detail p, .address-detail a {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    color: #000; }
  .address-detail .icon-detail {
    font-size: 14px;
    display: block;
    padding-bottom: 10px;
    color: #fff;
    text-transform: uppercase; }
  .address-detail a {
    font-size: 14px;
    display: block;
    padding-bottom: 0;
    padding-top: 0; }
  .address-detail i {
    display: block; }

.fa {
  color: #fff;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden; }

.call-to-action {
  display: block;
  height: 20px;
  width: 150px; }
  .call-to-action div {
    cursor: pointer; }
    .call-to-action div .add-sep {
      background: #fff none repeat scroll 0 0;
      height: 2px;
      display: block !important;
      text-align: center;
      width: 0;
      -moz-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .call-to-action div:hover .add-sep {
      width: 100%; }
  .call-to-action .goto-next, .call-to-action .goto-close {
    position: absolute;
    display: block;
    right: 0; }
    .call-to-action .goto-next span, .call-to-action .goto-close span {
      display: inline-block;
      position: relative; }

.about, .contact {
  right: 32px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
  .about span, .contact span {
    bottom: 0; }

.contact {
  top: 163px; }

/*****************************************************/
/* Mediaqueries */
/*****************************************************/
@media only screen and (max-width: 1680px) {
  .padding-top-sm-120 {
    padding-top: 120px; } }
@media only screen and (max-width: 1600px) {
  h1, .side-right .tlt {
    font-size: 90px;
    line-height: 100px; }

  h2 {
    font-size: 24px;
    line-height: 34px; }

  .padding-top-md-135 {
    padding-top: 135px; }

  .padding-top-md-75 {
    padding-top: 75px; }

  .padding-top-xs-80 {
    padding-top: 80px; }

  .contact {
    top: 140px; }

  .logo {
    left: 75px;
    top: 75px; }

  .main-content {
    padding-left: 75px;
    padding-right: 75px; }

  .side-left .content-wrap {
    padding-left: 75px;
    padding-right: 75px; }
  .side-left .copyright-text {
    bottom: 66px; }
  .side-left .tag-wrap {
    bottom: 75px; }

  .side-right .about, .side-right .contact {
    right: 6px; }
  .side-right .social-wrpper {
    bottom: 66px;
    left: 75px; }
  .side-right .notify-btn {
    bottom: 75px;
    right: 75px; }
  .side-right .notify-wrap {
    bottom: 40px;
    right: 75px; }
  .side-right .timer-sec {
    bottom: 75px;
    right: 75px; }

  .page-right .page-inner .container-fluid,
  .page-left .page-inner .container-fluid {
    padding-left: 75px;
    padding-right: 75px; } }
@media only screen and (max-width: 1400px) {
  h1, .side-right .tlt {
    font-size: 75px;
    line-height: 85px; }

  .padding-top-xs-40 {
    padding-top: 40px; }

  .intro-text {
    clear: both; }

  .contact {
    top: 105px; }

  .logo {
    left: 40px;
    top: 40px; }

  .main-content {
    padding-left: 40px;
    padding-right: 40px; }

  .side-left .content-wrap {
    padding-left: 40px;
    padding-right: 40px; }
  .side-left .copyright-text {
    bottom: 30px; }
  .side-left .tag-wrap {
    bottom: 38px; }

  .side-right .about, .side-right .contact {
    right: -28px; }
  .side-right .social-wrpper {
    bottom: 30px;
    left: 40px; }
  .side-right .notify-btn {
    bottom: 40px;
    right: 40px; }
  .side-right .notify-wrap {
    bottom: 5px;
    right: 40px; }
  .side-right .timer-sec {
    bottom: 40px;
    right: 40px; }

  .page-right .page-inner .container-fluid,
  .page-left .page-inner .container-fluid {
    padding-left: 40px;
    padding-right: 40px; } }
@media only screen and (max-width: 1024px) {
  .sec-pad {
    padding-top: 50px;
    padding-bottom: 50px; }

  .sec-pad-top {
    padding-top: 50px; }

  .sec-pad-bottom {
    padding-bottom: 50px; }

  .hover, .close-btn {
    display: none; }

  .side {
    width: 100%; }
    .side.side-left {
      position: static;
      text-align: left; }
    .side.side-right {
      position: relative; }
      .side.side-right .social-wrpper {
        position: static;
        margin-top: 100px; }

  .side-left, .side-right {
    background-attachment: scroll; }

  .logo {
    margin-left: 0;
    position: static;
    margin-bottom: 50px; }

  .full-height {
    min-height: auto !important; }

  .address-detail .copyright-text {
    display: block; }

  .notify-cmpt.notify-form-type-2 .notify-wrap .btn:hover {
    color: #fff; }

  .logo img {
    width: auto; }

  .page {
    position: static;
    width: 100%; }
    .page.page-left {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
      position: static; }
    .page.page-right {
      left: 0;
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
      position: static; }
      .page.page-right .btn:hover {
        color: #000; }

  .about, .contact {
    display: none; }

  .open-left .side-right,
  .open-right .side-left {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); }

  .open-left .side-left,
  .open-right .side-right {
    z-index: 200;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

  .open-left .side-left .main,
  .open-right .side-right .main {
    -webkit-transform: translateY(0) translateX(0) scale(1);
    -ms-transform: translateY(0) translateX(0) scale(1);
    transform: translateY(0) translateX(0) scale(1);
    opacity: 1;
    visibility: visible; }

  .open-left .page-left,
  .open-right .page-right {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

  .reset-layout .page,
  .splitlayout.open-right .page-left,
  .splitlayout.open-left .page-right,
  .splitlayout.close-right .page-left,
  .splitlayout.close-left .page-right {
    position: static; }

  .btn:hover .mask {
    width: 0; }

  .btn:hover, .btn:focus, .btn:active {
    color: #fff; }

  .side-right .social-icons .social-icon:hover span {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px); } }
@media only screen and (max-width: 767px) {
  h1, .side-right .tlt {
    font-size: 55px;
    line-height: 65px; }

  .margin-btm-xs {
    margin-bottom: 30px !important; }

  .margin-bottom-0 {
    margin-bottom: 0 !important; }

  .client-sec .col-xs-6:nth-child(1), .client-sec .col-xs-6:nth-child(2) {
    margin-bottom: 40px; } }
@media only screen and (max-width: 736px) {
  .page-right input {
    height: 45px; }

  .address-detail {
    margin-top: 30px; } }
@media only screen and (max-width: 485px) {
  .notify-cmpt.notify-form-type-2 .notify-wrap .notify-input-box {
    float: none; }

  .notify-cmpt.notify-form-type-2 .notify-wrap .btn {
    border-left: 2px solid;
    margin-top: 20px; }

  .notify-cmpt.notify-form-type-2 .notify-wrap .notify-input-box,
  .notify-cmpt.notify-form-type-2 .notify-wrap .btn {
    width: 100%;
    text-align: center; }

  .notify-cmpt.notify-form-type-2 .notify-wrap .notify-input-box {
    padding: 0; } }
@media only screen and (max-width: 414px) {
  h1, .side-right .tlt {
    font-size: 45px;
    line-height: 55px; }

  h3 {
    padding-bottom: 25px; }

  .copyright-text .social-icons, .copyright-text p, .copyright-text .address-detail a, .address-detail .copyright-text a {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
