<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Tambah Koleksi</h4>
        <p class="modal-intro">Masukkan nilai yang diperlukan pada form di bawah ini..</p>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">





          <div class="form-group text-left">
            <label for="koleksiId">ID-Koleksi</label>

            <input formControlName="koleksiId" type="text" class="form-control">

          </div>




          <div class="form-group text-left">
            <label for="nama">Nama</label>

            <input formControlName="nama" type="text" class="form-control">

          </div>




          <div class="form-group text-left">
            <label for="jumlah">Jumlah</label>

            <input formControlName="jumlah" type="number" min="1" pattern="[0-9]+" step='any' class="form-control">

          </div>




          <label for="kondisi">Kondisi</label>
          <div class="checkbox">

            <label>
              <input formControlName="kondisi" name="kondisi" value="BAIK" type="radio" />
              BAIK
            </label>

            <label>
              <input formControlName="kondisi" name="kondisi" value="RUSAK" type="radio" />
              RUSAK
            </label>

          </div>




          <div class="form-group text-left">
            <label for="kategori">Kategori</label>

            <select class="selectpicker" class="form-control" formControlName="kategori" name="kategori">
              <option value="none" selected disabled hidden> Pilih salah satu kategori</option>
              <option value="Historika">Historika</option>
              <option value="Etnografika">Etnografika</option>
              <option value="Grafika">Grafika</option>
              <option value="Seni Rupa">Seni Rupa</option>
              <option value="Numismatika">Numismatika</option>
              <option value="Biologika">Biologika</option>
              <option value="Filologika">Filologika</option>
              <option value="Arkeologika">Arkeologika</option>
              <option value="Keramologika">Keramologika</option>
              <option value="Geografika">Geografika</option>
            </select>



          </div>



          <div class="form-group text-left">
            <label for="keterangan">Keterangan</label>

            <input formControlName="keterangan" type="text" class="form-control">

          </div>


          <div class="form-group text-left">
            <label for="status">Gambar</label>

            <input type="file" name="image" ng2FileSelect [uploader]="uploader" (change)="onFileChanged($event)"
              accept="image/x-png,image/gif,image/jpeg" class="form-control">
          </div>




          <div class="form-group text-left">
            <label for="owner">Pemilik Asli (contoh: Kolektor-001)</label>

            <select class="selectpicker" class="form-control" formControlName="pemilik" name="pemilik">
              <option value="resource:model.Kolektor#K">Kolektor</option>
              <option value="resource:model.Pewaris#P">Pewaris</option>
              <option value="resource:model.Organisasi#O">Organisasi</option>
            </select>

          </div>

          <div class="input-group">
            <span class="input-group-addon">K/P/O -</span>
            <textarea formControlName="owner" class="form-control" rows="3"></textarea>

          </div>

<!-- 

          <div class="form-group text-left">
            <label for="issuer">penerbit</label>

            <textarea formControlName="issuer" class="form-control" rows="3"></textarea>

          </div>
 -->


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
          <button (click)="addAsset(myForm);uploader.uploadAll()" type="submit" class="btn btn-success"
            data-dismiss="modal" [disabled]="!uploader.getNotUploadedItems().length">Tambah</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Perbarui Koleksi</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">



          <div class="form-group text-left">
            <label for="koleksiId">ID-Koleksi</label>


            <input [ngModel]="koleksiId" formControlName="koleksiId" class="form-control" disabled="disabled">


          </div>

          <div class="form-group text-left">
            <label for="nama">Nama</label>


            <input [ngModel]="nama" formControlName="nama" type="text" class="form-control" disabled>


          </div>

          <div class="form-group text-left">
            <label for="jumlah">Jumlah</label>


            <input [ngModel]="jumlah" formControlName="jumlah" type="number" step='any' class="form-control">


          </div>

          <div class="form-group text-left">
            <label for="kondisi">Kondisi</label>



            <div class="row">
              <div class="col-xs-12 checkbox">

                <label>
                  <input formControlName="kondisi" [ngModel]="kondisi" name="kondisi" value="BAIK" type="radio" />
                  BAIK
                </label>

                <label>
                  <input formControlName="kondisi" [ngModel]="kondisi" name="kondisi" value="RUSAK" type="radio" />
                  RUSAK
                </label>

              </div>
            </div>



          </div>

          <div class="form-group text-left">
            <label for="kategori">Kategori</label>


            <input [ngModel]="kategori" formControlName="kategori" type="text" class="form-control" disabled>
<!-- 
            <select [ngModel]="kategori" class="form-control" formControlName="kategori" name="kategori">
    
              <option value="Historika">Historika</option>
              <option value="Etnografika">Etnografika</option>
              <option value="Grafika">Grafika</option>
              <option value="Seni Rupa">Seni Rupa</option>
              <option value="Numismatika">Numismatika</option>
              <option value="Biologika">Biologika</option>
              <option value="Filologika">Filologika</option>
              <option value="Arkeologika">Arkeologika</option>
              <option value="Keramologika">Keramologika</option>
              <option value="Geografika">Geografika</option>
            </select> -->

          </div>

          <!-- <div class="form-group text-left">
            <label for="keterangan">keterangan</label>

            <input formControlName="keterangan" type="text" step='any' class="form-control">

          </div> -->

          <!-- <div class="form-group text-left">
            <label for="tanggalbentuk">tanggalbentuk</label>

            <input formControlName="tanggalbentuk" type="text" step='any' class="form-control" disabled>

          </div> -->

          <!-- <div class="form-group text-left">
            <label for="status">gambar</label>


            <input [ngModel]="status" formControlName="status" type="text" class="form-control" d>


          </div> -->

          <!-- <div class="form-group text-left">
            <label for="owner">owner</label>



            <textarea [ngModel]="owner" formControlName="owner" class="form-control" rows="3" disabled></textarea>



          </div> -->

          <!-- <div class="form-group text-left">
            <label for="issuer">issuer</label>



            <textarea [ngModel]="issuer" formControlName="issuer" class="form-control" rows="3" disabled></textarea>



          </div> -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success"
            data-dismiss="modal">Perbarui</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="detailAssetModal" tabindex="-1" role="dialog" aria-labelledby="detailAssetModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="detailAssetModalLabel">Detail Koleksi</h4>
      </div>
    
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <img style="width: 200px;" src="{{ Status }}">
            </div>
            <div class="col-md-4">
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">ID-Koleksi</strong>
                  {{ KoleksiId }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Nama </strong>
                  {{ Nama }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Jumlah</strong>
                  {{ Jumlah }}
                </p>
              </div>

              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Kondisi</strong>
                 {{ Kondisi }}
                </p>
              </div>
            </div>
            <div class="col-md-4 ml-auto">
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Kategori</strong>
                 {{ Kategori }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Tanggal Input</strong>
                 {{ Tanggalbentuk }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">ID-Pemilik</strong>
                  {{ Owner }}
                </p>
              </div>

              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">ID-Penerbit</strong>
                  {{ Issuer }}
                </p>
              </div>
            </div>
          </div>

        <div class="keterangan">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="media text-muted pt-3">
                            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Keterangan Tambahan</strong>
                              {{ Keterangan }}
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
        </div>
   
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Page Heading -->
        <div class="typo-line">
          <div class="category">
            <h1 class="pe-7s-disk"></h1>
          </div>
          <blockquote>
            <p>
              Melihat, menambah dan mengontrol setiap koleksi benda pusaka yang terdiri dari 10 kategori koleksi berdasakan fungsinya.
            </p>
            <small>
              Fitur Asset: Koleksi Pusaka
            </small>
          </blockquote>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{errorMessage}}
          </div>
        </div>

        <div class="card">
          <div class="header">
            <div class="pull-left">
              <h4 class="title">Daftar Koleksi Pusaka</h4>
            </div>

            <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#addAssetModal" data-backdrop="false">
              <span
                style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
                <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                  <path fill-rule="evenodd"
                    d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z" />
                </svg>
              </span>
              Tambah Koleksi
            </button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id-Koleksi</th>

                  <th>Nama</th>

                  <th>Kondisi</th>

                  <th>Kategori</th>

                  <th>Id-Pemilik</th>

                  <th>Id-Penerbit</th>

                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let asset of allAssets">


                  <td>{{asset.koleksiId}}</td>

                  <td>{{asset.nama}}</td>

                  <td>{{asset.kondisi}}</td>

                  <td>{{asset.kategori}}</td>

                  <td>{{asset.owner}}</td>

                  <td>{{asset.issuer}}</td>

                  <td>
                    <button (click)="getSingleClick(asset.koleksiId);" type="button" class="btn btn-warning"
                      data-toggle="modal" data-target="#detailAssetModal" data-backdrop="false">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                        viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                        <g>
                          <path
                            d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z" />

                        </g>


                      </svg>
                    </button>

                    <button (click)="getForm(asset.koleksiId);" type="button" class="btn btn-info" data-toggle="modal"
                      data-target="#updateAssetModal" data-backdrop="false">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.8px" height="12.8px"
                        viewBox="0 0 30.7 30.7" style="enable-background:new 0 0 30.7 30.7;" xml:space="preserve">
                        <g>
                          <path
                            d="M1.5,30.7c0.1,0,0.2,0,0.4,0l5.9-1.5c0.8-0.2,1.3-1,1.1-1.8c-0.2-0.8-1-1.3-1.8-1.1l-3.6,0.9l0.8-3.8
                                     c0.2-0.8-0.4-1.6-1.2-1.8c-0.8-0.2-1.6,0.4-1.8,1.2L0,28.9c-0.1,0.5,0.1,1,0.4,1.4C0.7,30.6,1.1,30.7,1.5,30.7z" />
                          <path d="M10.4,25.2c0.3,0.3,0.7,0.4,1.1,0.4c0.4,0,0.8-0.1,1.1-0.4L30.3,7.5c0.6-0.6,0.6-1.5,0-2.1l-4.9-4.9
                                     C25.1,0.2,24.7,0,24.3,0c-0.4,0-0.8,0.2-1.1,0.4L5.5,18.2c-0.3,0.3-0.4,0.7-0.4,1.1s0.2,0.8,0.4,1.1L10.4,25.2z M24.3,3.6l2.8,2.8
                                     L11.5,22l-2.8-2.8L24.3,3.6z" />
                        </g>
                      </svg>
                    </button>

                    <!--Dinonaktifkan fungsi delete blockchain-->
                    <button (click)="setId(asset.koleksiId);" type="button" class="btn btn-delete" data-toggle="modal"
                      data-target="#deleteAssetModal" data-backdrop="false">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13.8px" height="16px"
                        viewBox="0 0 65.9 76.2" style="enable-background:new 0 0 65.9 76.2;" xml:space="preserve">
                        <path
                          d="M42.8,60.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S42.8,61.9,42.8,60.2z M29.1,60.2V22.6c0-1.7-1.3-3-3-3
                                   s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S29.1,61.9,29.1,60.2z M56.2,19.6c-1.7,0-3,1.3-3,3V68c0,1.2-1,2.2-2.2,2.2H14.9
                                   c-1.2,0-2.2-1-2.2-2.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3V68c0,4.5,3.7,8.2,8.2,8.2H51c4.5,0,8.2-3.7,8.2-8.2V22.6
                                   C59.2,21,57.9,19.6,56.2,19.6z M62.9,10.3H49.3V3c0-1.7-1.3-3-3-3H19.6c-1.7,0-3,1.3-3,3v7.3H3c-1.7,0-3,1.3-3,3s1.3,3,3,3h59.9
                                   c1.7,0,3-1.3,3-3S64.5,10.3,62.9,10.3z M43.3,10.3H22.6V6h20.7L43.3,10.3L43.3,10.3z" />
                      </svg>
                    </button>
            
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>