<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addTransactionModalLabel">Pindah Kepemilikan Koleksi</h4>
        <p class="modal-intro">Masukkan nilai yang diperlukan pada form di bawah ini..</p>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">



          <div class="form-group text-left">
            <label for="koleksi">ID-Koleksi</label>

            <textarea formControlName="koleksi" class="form-control" rows="3"></textarea>

          </div>

      

          <div class="form-group text-left">
            <label for="newOwner">ID-Pemilik Baru</label>

            <select class="selectpicker" class="form-control" formControlName="pemilik" name="pemilik">
              <option value="resource:model.Kolektor#K">Kolektor</option>
              <option value="resource:model.Pewaris#P">Pewaris</option>
              <option value="resource:model.Organisasi#O">Organisasi</option>
            </select>

          </div>

          <div class="input-group">
            <span class="input-group-addon">K/P/O -</span>
            <textarea formControlName="newOwner" class="form-control" rows="3"></textarea>

          </div>

          <!-- <div class="form-group text-left">
            <label for="issuer">ID-Penerbit</label>

            <textarea formControlName="issuer" class="form-control" rows="3"></textarea>

          </div> -->
          


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
          <button (click)="addTransaction(myForm);" type="submit" class="btn btn-success"
            data-dismiss="modal">Pindah</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Page Heading -->
        <div class="typo-line">
          <div class="category">
            <h1 class="pe-7s-network"></h1>
          </div>
          <blockquote>
            <p>
              Memegang kontrol terhadap perubahan status kepemilikan dari suatu koleksi bila terjadi perpindahan tangan pada waktunya.
            </p>
            <small>
              Fitur Ownership: Pindah Kepemilikan
            </small>
          </blockquote>
        </div>

        <div class="card">
          <div class="pindah">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              <strong>Error:</strong> {{errorMessage}}
            </div>
  
            <div class="row">
              <div class="col-md-12">
                <h1 class="transaction-title" id='transactionName'>PindahKoleksi</h1>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                   Ketika Koleksi Akan Dipindahkan ke Pemilik Lain, Transaksi akan memiliki komponen berikut:
                    <br>
                    <ul>
  
  
                      <li><span class="attribute"><b>ID-Koleksi</b></span></li>
  
  
  
                      <li><span class="attribute"><b>ID-Pemilik Baru</b></span></li>
  
  
  
                      <li><span class="attribute"><b>ID-Penerbit</b></span></li>
  
  
  
  
  
  
                    </ul>
                  </div>
                </div>
                <button (click)="resetForm();" type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#addTransactionModal" data-backdrop="false">Pindahkan</button>
              </div>
            </div>
          </div>
  
        </div>
     


      </div>
    </div>
  </div>
</div>

