<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                  <!-- Page Heading -->
                  <div class="typo-line">
                      <div class="category">
                          <h1 class="pe-7s-refresh-cloud"></h1>
                      </div>
                      <blockquote>
                          <p>
                              Semua histori transaksi yang dilakukan tercatat di seluruh node yang tersebar dalam jaringan blockchain. Data transasksi terenkripsi dengan aman, terdistribusi, dan transparan.
                          </p>
                          <small>
                            Fitur Log: Catatatn Historis Data
                          </small>
                      </blockquote>
                  </div>

              <div class="card">
                             
              <div class="transaksi">

                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                      <strong>Error:</strong> {{errorMessage}}
                  </div>
            
                <div class="row">
                  <br>
                </div>
              
                <div *ngIf="performedTransactions.length == 0 && systemTransactions.length == 0" class="row">
                    <h4>No transactions</h4>
                  </div>
              
                <div *ngIf="performedTransactions.length > 0" class="row" >
                  <h4>Blockchain Performed Transactions</h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          Transaction Type
                        </th>
                        <th>
                          Transaction ID
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let transaction of performedTransactions">
                        <td>
                          {{transaction.transactionType}}
                        </td>
                        <td>
                          {{transaction.transactionId}}
                        </td>
              
              
                      </tr>
                    </tbody>
                  </table>
              
                </div>
              
                <div class="row">
                  <br>
                  <br>
                </div>
              
                <div *ngIf="systemTransactions.length > 0" class="row">
                  <h4>Blockchain System Transactions</h4>
              
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          Transaction Type
                        </th>
                        <th>
                          Transaction ID
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let transaction of systemTransactions">
                        <td>
                          {{transaction.transactionType}}
                        </td>
                        <td>
                          {{transaction.transactionId}}
                        </td>
              
              
                      </tr>
                    </tbody>
                  </table>
              
                  <!-- <p *ngFor="let transaction of allTransactions">{{transaction.transactionId}}</p> -->
                </div>
              
                <div class="row">
                  <br>
                  <br>
                </div>
              
              
              </div>
              </div>


             


          </div>
      </div>
  </div>
</div>
