a{
    color: #FFFFFF;
  }
  .card {
      display: grid;
      // grid-template-columns: 300px;
      grid-template-rows: 210px 210px 80px;
      grid-template-areas: "image" "text" "stats";
      border-radius: 18px;
      background: white;
      // box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
      font-family: roboto;
      text-align: center;
    }
  
    .card-image-1 {
      grid-area: image;
      background: url("../../assets/img/kolektor.jpg");
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-size: cover;
    }
    .card-image-2 {
      grid-area: image;
      background: url("../../assets/img/pewaris.jpg");
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-size: cover;
    }
    .card-image-3 {
      grid-area: image;
      background: url("../../assets/img/organisasi.jpg");
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-size: cover;
    }
    .card-text {
      grid-area: text;
      margin: 25px;
    }
    .card-text .date {
      color: rgb(255, 7, 110);
      font-size:13px;
    }
    .card-text p {
      color: grey;
      font-size:15px;
      font-weight: 300;
    }
    .card-text h2 {
      margin-top:0px;
      font-size:28px;
    }
    .card-stats {
      grid-area: stats; 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background: #F8504C;
    }
    .card-stats .stat {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      padding:10px;
    }
  