<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                  <!-- Page Heading -->
                  <div class="typo-line">
                      <div class="category">
                          <h1 class="pe-7s-user-female"></h1>
                      </div>
                      <blockquote>
                          <p>
                            Melihat, menambah dan mengontrol setiap pemegang sumber koleksi yang terdiri dari pewaris, kolektor, dan organisasi.
                          </p>
                          <small>
                              Fitur Holder: Pemilik
                          </small>
                      </blockquote>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-image-1"></div>
                            <div class="card-text">
                              <span class="date">COLLECTOR</span>
                              <h2>Kolektor</h2>
                              <p>Individu yang mengumpulkan benda untuk koleksi (prangko, benda bersejarah dan sebagainya) karena minat atau hobi yang dimiliki.</p>
                            </div>
                            <div class="card-stats">
                              <div class="stat">
                                <div class="value">K - xxx</div>
                                <div class="type">ID Kolektor</div>
                              </div>
                              <div class="stat border">
                                <!-- <div class="value">5123</div>
                                <div class="type">views</div> -->
                              </div>
                              <div class="stat">
                                <div class="type"><a [routerLink]="['/kolektor']" href="">Lihat >>></a> </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-image-2"></div>
                            <div class="card-text">
                              <span class="date">DEVISOR</span>
                              <h2>Pewaris</h2>
                              <p>Individu yang menyatakan perwakilan nama terhadap kepemilikan warisan tempat, atau semua benda koleksi dan segala yang dibendakan.</p>
                            </div>
                            <div class="card-stats">
                              <div class="stat">
                                <div class="value">D - xxx</div>
                                <div class="type">ID Pewaris</div>
                              </div>
                              <div class="stat border">
                                <!-- <div class="value">5123</div>
                                <div class="type">views</div> -->
                              </div>
                              <div class="stat">
                                <div class="type"><a [routerLink]="['/pewaris']" href="">Lihat >>></a> </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-image-3"></div>
                            <div class="card-text">
                              <span class="date">ORGANIZATIONS</span>
                              <h2>Organisasi</h2>
                              <p>Kelompok berupa perserikatan maupun instansi yang melayani kebutuhan publik dengan melakukan usaha pengoleksian, dan memamerkannya.</p>
                            </div>
                            <div class="card-stats">
                              <div class="stat">
                                <div class="value">O - xxx</div>
                                <div class="type">ID Organisasi</div>
                              </div>
                              <div class="stat border">
                                <!-- <div class="value">5123</div>
                                <div class="type">views</div> -->
                              </div>
                              <div class="stat">
                                <div class="type"><a [routerLink]="['/organisasi']" href="">Lihat >>></a> </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                
          </div>
      </div>
  </div>
</div>
