<!-- Image Modal to Enlarge -->
<div class="modal" id="detailAssetModal" tabindex="-1" role="dialog" aria-labelledby="detailAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Gambar Koleksi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="">
        <div class="container">
          <img src="{{ Status }}">
        </div>
      </div>

    </div>
  </div>
</div>

<div id="documenter_sidebar">
  <a [routerLink]="['/webhome']" id="documenter_logo"></a><br>
  <h1 style="text-align: center;"><b>Museum Prabu Geusan</b></h1>
  <ol id="documenter_nav">
    <li><a [routerLink]="['/webmenu']">Home</a></li>
    <li><a class="current" href="#features">Koleksi</a></li>
  </ol>
</div>
<div id="documenter_content">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="{{ gambar }}" alt="">
    </div>

    <div class="col-lg-4">
      <h1>{{ judul }}</h1>
      <p>{{ deskripsi }}</p>
    </div>

  </div>
  <!-- /Heading Row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Semua historis benda tersimpan dalam penyimpanan blockchain. Melakukan
        tindakan ilegal terhadap pengubahan data dari luar merupakan pelanggaran Hak Cipta!</p>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id-Koleksi</th>
        <th scope="col">Nama Koleksi</th>
        <th scope="col">Kondisi</th>
        <th scope="col">Gambar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of allAssets">

        <td>{{ asset.koleksiId }}</td>
        <td>{{ asset.nama }} </td>
        <td>{{ asset.kondisi }}</td>
        <td>
          <a href="#" (click)="getSingleClick(asset.koleksiId)" data-toggle="modal" data-target="#detailAssetModal"
            data-backdrop="false">
            <img style="width: 120px; height: 120px; border-radius: 50%;"
              src="http://localhost:8000/public/koleksi/{{ asset.status }}">
          </a>

        </td>

      </tr>

    </tbody>
  </table>




</div>