<!-- Modal Detail-->
<div class="modal fade" id="detailBerita" tabindex="-1" role="dialog" aria-labelledby="detailBerita" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
   
      <div class="modal-body">
        <h3>{{ Judul }}</h3>
        <div class="detail-foto">
          <img src="{{ Gambar }}">
        </div>
        <p>{{ Deskripsi }}</p>
      </div>
      <div class="modal-footer">
        <button type="button"class="btn btn-secondary" data-dismiss="modal">Keluar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update-->
<div class="modal fade" id="updateBerita" tabindex="-1" role="dialog" aria-labelledby="updateBerita" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Perbarui Berita</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editForm" (ngSubmit)="updateNews()">
                <div class="modal-body">
        
        
        
                  <div class="form-group text-left">
                    <label for="beritaId">ID-Berita</label>
        
        
                    <input  formControlName="beritaId" class="form-control" disabled="disabled">
        
        
                  </div>
        
                  <div class="form-group text-left">
                    <label for="judul">Judul</label>
        
        
                    <input  formControlName="judul" type="text" class="form-control">
        
        
                  </div>
        
                  <div class="form-group text-left">
                    <label for="deskripsi">Deskripsi</label>

        
                    <textarea formControlName="deskripsi" type="text" class="form-control" rows="5"></textarea>
        
        
                  </div>
        
        
                </div>
                <div class="modal-footer">
                  <button type="button"class="btn btn-secondary" data-dismiss="modal">Keluar</button>
                  <button type="submit" onclick="$('.modal').modal('hide')" class="btn btn-success" >Perbarui</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete-->
<div class="modal fade" id="deleteBerita" tabindex="-1" role="dialog" aria-labelledby="deleteBerita" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hapus Berita</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="deleteNews(this.currentId)">
          <p>Anda yakin akan menghapus berita ini ?</p>
          <div class="modal-footer">
            <button type="button"class="btn btn-secondary" data-dismiss="modal">Tidak</button>
            <button type="submit" onclick="$('.modal').modal('hide')" class="btn btn-success">Ya</button>
          </div>
        </form>
         
      </div>
    </div>
  </div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Heading -->
                <div class="typo-line">
                    <div class="category">
                        <h1 class="pe-7s-news-paper"></h1>
                    </div>
                    <blockquote>
                        <p>
                          Melihat, menambah, dan mengontrol setiap informasi mengenai sejarah dan koleksi yang disajikan dalam halaman berita pada pengguna umum.
                        </p>
                        <small>
                          Fitur News: Berita
                        </small>
                    </blockquote>
                </div>

                <div class="container-fluid">
                    <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/addberita']">Tambah
                        Berita</button>
                </div>

                  <!-- No data message -->
                  <div class="alert alert-success text-center" role="alert" *ngIf="News.length <= 0">
                    Tidak ada berita yang ditambahkan !!!
                </div>

                <div class="blog-card" *ngFor="let news of News; let i = index">
                    <div class="meta">
                      <div class="photo" >
                        <img [src]="news.gambar" alt="image" />
                      </div>
                      <ul class="details">
                        <li class="author"><a href="#">Adminstrator</a></li>
                        <li class="date">{{ news._id }}</li>
                      </ul>
                    </div>
                    <div class="description">
                      <h1>{{ news.judul }}</h1>
                      <h2>{{ news.createdAt }}</h2>
                      <p class="batasi-berita"> {{ news.deskripsi }}</p>
                     
                      <p class="detail-berita">
                        <!-- <a href="#" (click)=" getDetailNews(news._id)">Lihat</a> -->
                        <a href="#" (click)=" getDetailNews(news._id)" data-toggle="modal" data-target="#detailBerita" data-backdrop="false">Lihat Berita</a>
                      </p>
                      <p class="update-berita">
                        <a href="#" (click)="getSingleNews(news._id)" data-toggle="modal" data-target="#updateBerita" data-backdrop="false">Perbarui Berita</a>
                      </p>
                      <p class="delete-berita">
                        <a href="#" (click)="setId(news._id)" data-toggle="modal" data-target="#deleteBerita" data-backdrop="false">Hapus Berita</a>
                      </p>

                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
</div>