<body>
	<form action="" id="login-form">
	    <h1>Selamat Datang</h1>
	    <div class="input-box">
        <label for="uname"><b>Username</b></label>
	        <input type="text">
	    </div>

	    <div class="input-box">
        <label for="uname"><b>Password</b></label>
	        <input type="password">
	    </div>

	    <label>
	     
	    </label>

	    <button type="submit" class="login-btn">Masuk</button>
	</form>
</body>
