<div id="documenter_sidebar">
  <a [routerLink]="['/webhome']" id="documenter_logo"></a><br>
  <h1 style="text-align: center;"><b>Museum Prabu Geusan</b></h1>
  <ol id="documenter_nav">
    <li><a [routerLink]="['/webmenu']">Home</a></li>
    <li><a class="current" href="#features">Berita</a></li>
  </ol>
</div>
<div id="documenter_content">
   <!-- No data message -->
   <div class="alert alert-success text-center" role="alert" *ngIf="News.length <= 0">
    Tidak ada berita yang ditambahkan !!!
</div>
  <section id="documenter_cover" *ngFor="let news of News; let i = index">
    <h1>{{ news.judul }}</h1>
    <img [src]="news.gambar" alt="image" />
    <hr>
    <p>By : Administrator <br/> Date : {{ news.createdAt }}</p>
    <p>{{ news.deskripsi }}</p>
  </section>
 
</div>