<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Tambah Berita</h4>
          </div>
          <div class="content">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
              <!-- Progress Bar -->
              <div class="progress form-group" *ngIf="fileUploadService.percentDone">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                  [style.width.%]="fileUploadService.percentDone">
                </div>
              </div>

              <!-- Judul -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Judul Berita</label>
                    <input type="text" class="form-control" placeholder="Judul Berita" formControlName="judul">
                  </div>
                </div>
              </div>


              <!-- Image Preview & File Input-->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Ilustrasi Gambar</label>
                    <div class="preview" *ngIf="preview && preview !== null">
                      <img [src]="preview" [alt]="form.value.name">
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="file" (change)="uploadFile($event)">
                  </div>
                </div>
              </div>

              <!-- Deskripsi -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Deskripsi Berita</label>
                    <textarea rows="5" class="form-control" placeholder="Deskripsi Berita" formControlName="deskripsi">
                    </textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right">Tambah</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
              alt="..." />
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <img class="avatar border-gray" src="../../assets/img/tim_80x80.png" alt="..." />

                <h4 class="title">Administrator<br />
                  <small>info@museumprabugeusanulun.org</small>
                </h4>
              </a>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>